body {
  font-family: Roboto, sans-serif !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#home, #about, #skills, #projects, #move-it, #tripply, #race, #homework {
  padding-top: 100px;
  min-height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  /* border: 3px solid red; */
}

#contact {
  padding-top: 100px;
  height: calc(100vh - 100px);
  width: 100%;
  position: relative;
  text-align: center;
}

/* NAVBAR */

  .navbar-light.bg-light {
    background: white !important;
    /* background: rgba(0,0,0,0.5) !important; */
    min-height: 56px;
  }

  .navbar-toggler {
    border: none !important;
  }

  .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
  }

  .navbar-brand {
    position: absolute;
    left: 24px;
    top: 8px;
  }

  .nav-link, .navbar-brand {
    transition: all .2s ease-in-out;
  }

  .nav-link:hover, .navbar-brand:hover {
    transform: scale(1.1);
  }

  .navbar-toggler {
    position: absolute;
    top: 8px;
    right: 0;
  }

  .nav-padding {
    padding-top: 50px;
    margin-left: 16px;
  }

  .svg-inline--fa.fa-linkedin-in, .svg-inline--fa.fa-github, .svg-inline--fa.fa-linkedin, .svg-inline--fa.fa-github-square, .svg-inline--fa.fa-envelope, .svg-inline--fa.fa-paper-plane {
    font-size: 24px;
    margin: 5px;
    color: #008490;
    transition: all .2s ease-in-out;

  }

  .svg-inline--fa.fa-linkedin-in:hover, .svg-inline--fa.fa-github:hover, .svg-inline--fa.fa-linkedin:hover, .svg-inline--fa.fa-github-square:hover, .svg-inline--fa.fa-envelope:hover, .svg-inline--fa.fa-paper-plane:hover {
    transform: scale(1.1);
  }

/*  OTHER */

  .icon {
    width: 32px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .icon-up {
    width: 32px;
    /* margin: 0 auto; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .fa-angle-down, .fa-angle-up, .fa-times {
    color: #FE6F67;
  }

  .svg-inline--fa.fa-angle-down, .svg-inline--fa.fa-angle-up {
    font-size: 50px;
  }

  .svg-inline--fa.fa-times {
    font-size: 30px;
  }

/* Home */

  .title {
    font-size: 100px;
    line-height: 100px;
    margin-top: 10%;
  }
  
  .title-sub {
    margin-top: 25px;
  }

  .title-line {
    /* width: 32px; */
    /* margin: 0 auto; */
    position: absolute;
    bottom: 75px;
    /* left: 50%; */
  }

  .teal {
    color: #026A77;
  }

  .coral-1 {
    color: #FE6F67;
  }
  
  .coral-2 {
    color: #FD4D4D;
  }


/* SKILLS */
.skills-body div {
  margin: 30px 0;
  /* word-spacing: 50px; */
}

.skills-body h5 {
  /* text-decoration: underline #FE6F67 solid; */
  font-weight: 600;
}
  /* .skills-body h5, .skills-body p {
    display: inline-block;
  } */

/* PROJECTS */

  .projects {
    width: 100%;
  }

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .project {
    /* width: 30%; */
    position: relative;
    margin: 25px auto;
    display: inline-block;
  }

  .project img {
    display: block;
    width: 100%;
    border-radius: 3px;
    /* box-shadow: -2px 2px 2px 2px rgba(0,0,0,0.3); */
    /* border: 2px solid #008490; */
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 15px;
    height: 100%;
    border-radius: 3px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(29,138,153, 0.96);
  }
  
  .overlay-text {
    color: white;
    text-align: center;
    margin-top: 85px;
  }

  .project:hover .overlay {
    opacity: 1;
  }

  .race-font, .move-font, .tripply-font, .homework-font {
    font-size: 24px;
  }

  .race-font {
    font-family: 'Patrick Hand SC', cursive;
  }

  .move-font {
    font-family: 'Roboto Slab', serif;
  }

  .tripply-font {
    font-family: 'Lobster Two', cursive;
  }

  .homework-font {
    font-family: 'Pangolin', cursive;
  }

  .project-display {
    display: none;
  }

/* Project Full */

  .project-full {
    width: 100%;
    text-align: center;
  }

  .project-full img {
    width: 80%;
    margin: 50px auto;
    border-radius: 3px;
  }

  .project-button {
    display: inline-block;
    transition: all .2s ease-in-out;
    color: #00999E;
    margin: 25px;
  }

  .project-button:hover {
    transform: scale(1.1);
    color: #00999E;
    text-decoration: none;
  }


/* Contact */

  #contact .svg-inline--fa.fa-paper-plane, #contact .svg-inline--fa.fa-envelope {
    font-size: 75px;
    margin: 5px;
  }

  .contact-body {
    margin: 75px;
  }
  
/* Footer */

  #foot {
    height: 100px;
    background: #00999E;
  }

  .footer-icons {
    width: 68px;
    margin: 0 auto;
    padding-top: 50px;
  }

  #foot .svg-inline--fa.fa-linkedin, #foot .svg-inline--fa.fa-github-square {
    font-size: 24px;
    margin: 5px;
    color: white;
  }